/* Import montserrat font */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ExtraBold.eot');
    src: url('../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Black.eot');
    src: url('../fonts/montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Black.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Black.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.eot');
    src: url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Medium.eot');
    src: url('../fonts/montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ExtraLight.eot');
    src: url('../fonts/montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-ExtraLight.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Light.eot');
    src: url('../fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Light.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Thin.eot');
    src: url('../fonts/montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Thin.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.eot');
    src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-SemiBold.eot');
    src: url('../fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* reset browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* Top-bar */
.top-bar{
    width: 100%;
    height: 40px;
    background-color: #634832;

    display: flex;
    align-items: center;
}

.top-bar .fix-display-top-bar{
    display: flex;
    align-items: center;
    justify-content:  space-between;
}

.top-bar .fix-display-top-bar .hot-line{
    display: flex;
    align-items: center;
}

.top-bar .fix-display-top-bar .account-and-cart{
    display: flex;
    align-items: center;
}

.top-bar .fix-display-top-bar .account-and-cart .account{
    display: flex;
    align-items: center;
}

.top-bar .fix-display-top-bar .account-and-cart .cart{
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.top-bar p{
    margin-bottom: 0;
    color: #fff;
    font-size: 12px;
    margin-left: 4px;
}

.top-bar i{
    color: #fff;
    font-size: 12px;
}

/* Header */
.header{
    width: 100%;
    height: 68px;
    background-color: #fff;
    position: relative;
}

.scroll-header{
    width: 100%;
    height: 68px;
    background-color: #fff;
    position: fixed;
    top: 0;
    opacity: 0.8;
    z-index: 999;
    animation: fadeInDown .3s ease-in-out;
}

.header .fix-display-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.header .fix-display-header .logo img{
    height: 60px;
    object-fit: cover;
}

.header .fix-display-header .header-menu{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    gap: 20px;
}

.header .fix-display-header .header-menu li{
    list-style: none;
    font-size: 14px;
    font-weight: 600;
}

.header .fix-display-header .search{
    display: flex;
    align-items: center;
    padding: 4px 12px;
    border: 2px solid black;
    border-radius: 25px;
}

.header .fix-display-header .search input{
    font-size: 14px;
    border: none;
}

.header .fix-display-header .search input:focus{
    outline: none;
}

.header .fix-display-header .search button{
    background-color: #fff;
    border: none;
}

/* sub-menu */
.header .sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: red;
    z-index: 2;
    /* display: none; */
}

/* Banner */
.banner{
    position: relative;
}

.banner .item img{
    object-fit: cover;
    width: 100%;
}

.banner .owl-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .owl-dots .owl-dot.active span{
    background-color: #E57905;
}

.banner .owl-dots .owl-dot span{
    width: 16px;
    height: 2px;
    border-radius: 0;
    background-color: #fff;
}

/* main content */
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
}

/* New product */
.main-content .new-product{
    width: 100%;
}

.main-content .new-product img{
    width: 100%;
    object-fit: cover;
}

/* product card */
.product-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
}

.product-card .product-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 3px 3px 3px gray;
}

.product-card .product-detail .name-product {
    font-weight: 600;
    font-size: 14px;
}

.product-card .product-detail .price-product{
    font-size: 14px;
}

/* label */
.label-new-product{
    position: absolute;
    top: -12px;
    right: 0;
}

.label-new-product i{
    color: #FEEC59;
    font-size: 60px;
}

.label-new-product .icon-label{
    position: relative;
}

.label-new-product .icon-label p{
    font-size: 14px;
    color: #447510;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* best seller label */
.label-best-seller{
    position: absolute;
    top: -12px;
    right: 0;
}

.label-best-seller i{
    color: #FF0000;
    font-size: 60px;
}

.label-best-seller .icon-label{
    position: relative;
}

.label-best-seller .icon-label p{
    font-size: 10px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Best seller title */
.main-content .best-seller .best-seller-title .text-wrapper .letters{
    font-size: 32px;
    color: #FF0000;
}

.main-content .best-seller .fix-magin-best-seller-title{
    display: flex;
    justify-content: center;
}

.main-content .best-seller .best-seller-title {
    position: relative;
    font-weight: 900;
    font-size: 3.7em;

  }

  .main-content .best-seller .best-seller-title .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }

  .main-content .best-seller .best-seller-title .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }

  /* slide store */
  .slide-store{
    position: relative;
  }

  .slide-store .slide-store-child{
    display: flex;
    align-items: center;
  }

  .slide-store .slide-store-child .store-content{
    width: 40%;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
  }

  .slide-store .slide-store-child .store-content h1{
    font-size: 28px;
  }

  .slide-store .slide-store-child .store-content p{
    font-size: 16px;
  }

  .slide-store .slide-store-child .store-content button{
    border: none;
    border-radius: 8px;
    background-color: #C8070F;
    color: #fff;
    padding: 8px 25px;
    font-size: 16px;
  }

  .slide-store .owl-dots{
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .slide-store .owl-dots .owl-dot.active span{
    background-color: #C8070F;
  }

  .slide-store .slide-store-child .store-img-slide{
    width: 60%;
    position: relative;
  }

  .slide-store .slide-store-child .store-img-slide img{
    width: 100%;
    object-fit: cover;
  }

  .slide-store .slide-store-child .store-img-slide .owl-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    .slide-store .slide-store-child .store-img-slide .owl-dots .owl-dot.active span{
        background-color: #E57905;
    }

    .slide-store .slide-store-child .store-img-slide .owl-dots .owl-dot span{
        width: 16px;
        height: 2px;
        border-radius: 0;
        background-color: #fff;
    }

/* Footer */
.footer{
    background-color: #634832;
    padding: 34px 0;
}

.footer .footer-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.footer .footer-col .footer-title{
    font-size: 14px;
    color: #fff;
    margin-bottom: 16px;
}

.footer .footer-col .footer-title i{
    margin-right: 8px;
}

.footer .footer-col .footer-linkslist{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.footer .footer-col .footer-linkslist {
    list-style-type: none;
    padding-left: 0;
}

.footer .footer-col .footer-linkslist li{
    font-size: 12px;
    color: #fff;
}

.footer .footer-col .footer-linkslist li a{
    text-decoration: none;
    color: #fff;
}

.footer hr{
    border-top: 2px solid #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer .footer-col .fix-margin-footer-linkslist{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

/* animation */
@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }